.accordion {
    box-shadow: 0 0 4px rgba(var(--normal-shadow), 0.2);
    border-radius: 5px;
    overflow: hidden;

    &-label {
        display: block;
        color: var(--black);
        font-weight: 500;
        cursor: pointer;
        position: relative;
        @include transition(background-color 1s);
        padding: 15px 25px;
        background: var(--white);
        margin: 0;
        border: 1px solid var(--border);

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            width: 12px;
            height: 6px;
            background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23141437;" /></svg>');
            background-size: contain;
            @include transition(transform 0.4s);
        }

        img {
            width: 40px;
            height: 40px;
            display: inline-block;
            margin-right: 10px;
            object-fit: contain;
        }

        .project-info {
            display: inline-block;

            .project-name,
            .project-code {
                display: block;
            }

            .project-name {
                font-weight: $semi-bold;
                font-size: $normal;
            }

            .project-code {
                color: var(--text-light);
                font-size: $small;
            }
        }

        .sprint-task-status{
            font-weight:$semi-bold;
            float:right;
            padding:8px 15px;
            border-radius:5px;
            margin:5px 10px;
            min-width:95px;
            text-align:center;

            &.approved{
                color:var(--main);
                background:rgba(var(--rgb),0.1);
            }

            &.pending,&.unapproved{
                color:var(--text-light);
                background:rgba(var(--card-shadow),0.2);
            }
        }

        .team{
            min-width: 170px;
            text-align: right;
        }
    }

    .team {
        float: right;
        padding: 5px 10px;

        @include mq('phone') {
            display: none;
        }

        div{
            cursor: pointer;
            margin-right: -20px;
            @include transition(0.4s ease);
            display: inline-block;
            max-height: 40px;

            &:hover {
                margin-right: -5px;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                display: inline-block;
                border: 5px solid var(--white);
            }

            &:last-child {
                margin-right: -5px;
            }
        }

        .team-member {
            position: relative;

            .b-avatar,.badge-info,.rounded-circle{
                cursor: pointer;
                @include transition(0.4s ease);
                display: inline-block;
                max-height: 40px;
                vertical-align: inherit;
                max-width:inherit;
                margin-right: 10px;
                border: 5px solid var(--white);

                svg {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    display: inline-block;
                }   
            }

            &:hover {
                .tooltip-text {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .tooltip-text {
                visibility: hidden;
                opacity: 0;
                border-radius: 5px;
                padding: 5px 10px;
                position: absolute;
                z-index: var(--z-modal);
                color: var(--text-light);
                background: var(--white);
                box-shadow: 1px 1px 12px -3px rgba(var(--normal-shadow), 0.2);
                border: 1px solid var(--border);
                margin-top: 45px;
                margin-left: -60px;
                max-height: unset;
                @include transition(opacity 0.3s ease-out);
                font-size: 10px;
                width: fit-content;

                .name {
                    font-weight: $semi-bold;
                    color: var(--black);
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -7px;
                    border-width: 7px;
                    border-style: solid;
                    border-color: transparent transparent var(--white) transparent;
                }
            }
        }


    }

    &-content {
        margin: 0px auto;
        background: var(--white);
        padding: 0px 25px;
        overflow: hidden;
        max-height: 0;
        @include transition(max-height 0.5s ease-out);
    }

    &-input {
        display: none;

        &:checked {
            ~.accordion-content {
                max-height: 1000px;
                @include transition(max-height .5s ease-in-out);
            }

            ~.accordion-label::after {
                @include transform(translateY(-50%) rotate(0.5turn));
            }
        }
    }
}
