#active-sprint {
    font-size: $small;

    .sprint-header {
        padding: 15px 15px;

        .sprint-info {
            display: inline-block;

            .page-title {
                font-size: $medium;
                font-weight: $semi-bold;
            }

            .current-sprint-week {
                color: var(--text-light);
            }
        }

        .search-container {
            margin-top: 5px;
        }
    }

    .cards-container {
        padding: 35px 0;

        .score-card {
            padding: 20px;
            min-height: 135px;

            @include mq('phone') {
                margin: 10px 0;
            }

            @include mq('tablet') {
                padding: 15px;
                min-height: 210px;
            }

            .person-container {
                display: inline-block;
                width: 50%;
                vertical-align: top;

                @include mq('tablet') {
                    width: 100%;
                    display: block;
                    text-align: center;
                }

                .person-image {
                    img {
                        width: 40px;
                        border-radius: 50%;
                        margin-bottom: 10px;

                        @include mq('tablet') {
                            margin: 0px auto 10px;
                        }
                    }
                }

                .person-name {
                    font-weight: $bold;
                    color: var(--text-light);
                    color: var(--black);
                }

                .person-position {
                    color: var(--text-light);
                }
            }

            .score-container {
                display: inline-block;
                width: 50%;
                text-align: center;
                color: var(--text-light);
                margin: 5px auto;

                @include mq('tablet') {
                    width: 100%;
                    display: block;
                }

                .score {
                    font-size: $big;
                    font-weight: $bold;
                    color: var(--black);

                    img {
                        width: 10px;
                        display: inline-block;
                        margin-left: 5px;
                        margin-bottom: 4px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                            animation: jiggle 0.3s infinite;
                        }
                    }
                }
            }

            .allocation-container {
                .team {
                    float: none;
                    padding: 0px 0px;

                    &.allocated-team {
                        @include mq('phone') {
                            display: block;
                        }
                    }

                    .team-member {
                        display:inline-block;
                        .tooltip-text {
                            margin-top: 35px;
                            margin-left: -62px;
                        }

                        .b-avatar ,.badge-info, .rounded-circle{
                            height: 30px;
                            width: 30px;
                            margin-right: 5px;
                            svg{
                                height: 30px;
                                width: 30px;
                                vertical-align: middle;
                            }
                        }
                    }

                    div {
                        margin-right: -12px;

                        img {
                            height: 30px;
                            width: 30px;
                        }

                        &:hover {
                            margin-right: -5px;
                        }
                    }
                }

                .title {
                    color: var(--text-light);
                    font-weight: $semi-bold;
                }

                .allocation-percentage {
                    font-size: $small;

                    @include mq('tablet') {
                        margin-top: 10px;
                    }
                }

                .allocation-bar {
                    height: 5px;
                    background: var(--border);
                    display: inline-block;
                    border-radius: 5px;
                    position: relative;
                    width: 100%;
                    
                    @include mq('tablet') {
                        margin-top: 10px;
                    }

                    .allocation-bar-percentage{
                        width: 0%;
                        height: 5px;
                        background: var(--main);
                        display: inline-block;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        position: absolute;
                    }
                }
            }

            .task-container {
                font-size: $small;
                margin-bottom:-20px;

                .title {
                    color: var(--text-light);
                    font-weight: $semi-bold;
                }

                .completion-bar,
                .completion-percentage {
                    display: inline-block;
                }

                .completion-bar {
                    width: 35%;

                    @include mq('tablet') {
                        width: 100%;
                        display: block;
                    }

                    img {
                        width: 80px;
                        margin: 0 auto;
                    }
                }

                .completion-percentage {
                    width: 65%;
                    vertical-align: middle;

                    p {
                        font-size: $small;
                    }

                    @include mq('tablet') {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

    .button-container {
        padding: 10px 0 20px;
        float: right;

        .button {
            padding: 10px 25px;

            .icon {
                width: 12px;
                height: 12px;
                display: inline-block;
                margin-left: 5px;
                margin-bottom: 1px;
            }
        }
    }

    .assignee-select {
        padding: 0.45rem 0;

        .custom-select-wrapper {
            position: relative;

            select {
                width: 120px;
                padding: 11px 10px 10px 40px;
                cursor: pointer;
                display: inline-block;
                border: 1.5px solid var(--border);
                border-radius: 5px;
                margin: 0;
                outline: none;
                /* remove focus ring from Webkit */
                line-height: 1.2;
                background: var(--white);
                appearance: none;

                &::-moz-focusring {
                    color: transparent;
                    text-shadow: 0 0 0 var(--black);
                }
            }

            &:after {
                content: "▾";
                position: absolute;
                top: 9px;
                right: 43px;
                bottom: 15px;
                background: var(--white);
                color: var(--border);
                pointer-events: none;
                border-left: none;
            }

            img#selectedPerson,
            img.selectedPerson {
                display: block;
                position: absolute;
                top: 21%;
                right: 120px;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .view-only {
            .person {
                padding: 10px 10px 10px 45px;
            }

            &.custom-select-wrapper {
                img{
                    display:inline-block;
                    vertical-align: middle;
                }
                .selectedPerson {
                    height: 30px;
                    width: 30px;
                    position:unset;
                }

                .person {
                    padding: 10px;
                    display: inline-block;
                }

                &:after {
                    display: none;
                }
            }
        }

    }

    .status-select {
        padding: 5px 0;

        .custom-select-wrapper {
            position: relative;
            font-size: $small;

            #statusList {
                appearance: none;

                &.color {
                    text-align: center;
                    width: 120px;
                    padding: 7px 14px;
                    cursor: pointer;
                    border: 1.5px solid var(--border);
                    border-radius: 5px;
                    margin: 0;
                    outline: none;
                    background: var(--white);
                }

                &.pink,
                &.blue,
                &.red,
                &.green,
                &.status {
                    background-size: 15px 15px;
                    color: var(--white);
                    font-weight: $bold;
                }

                &.pink {
                    color: var(--pink);
                }

                &.blue {
                    color: var(--blue);
                }

                &.red {
                    color: var(--red);
                }

                &.green {
                    color: var(--green);
                }

            }

            &:after {
                content: "▾";
                position: absolute;
                top: 9px;
                right: 43px;
                bottom: 15px;
                color: var(--border);
                pointer-events: none;
                border-left: none;
            }
        }

        .view-only {

            .red,
            .green,
            .blue,
            .pink,.status{
                color: var(--white);
                font-weight: $semi-bold;
                border-radius: 5px;
                padding: 3px 5px;
                width: 65%;
                text-align: center;
            }

            .status{
                &.Active{
                    background: var(--blue);
                }
                &.Pending{
                    background: var(--red);
                }
            }


            .red {
                background: var(--red);
            }

            .green {
                background: var(--green);
            }

            .blue {
                background: var(--blue);
            }

            .pink {
                background: var(--pink);
            }

            &.custom-select-wrapper {
                &:after {
                    display: none;
                }
            }
        }

    }

    .target-achievement{

        .task-completion{
            width:20%;
            display:inline-block;
            font-weight:$semi-bold;

            &.Active{
                color: var(--blue);
            }
            &.Pending{
                color: var(--red);
            }
        }
        .task-completion-bar{
            width:80%;
            display:inline-block;
        }
        .progress-bar{
            height: 5px;
            background: var(--border);
            display: inline-block;
            border-radius: 5px;
            position: relative;
            width: 100%;
            
            @include mq('tablet') {
                margin-top: 10px;
            }

            .progress-bar-percentage{
                width: 0%;
                height: 5px;
                background: var(--main);
                display: inline-block;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                position: absolute;
                left:0;

                &.Active{
                    background: var(--blue);
                }
                &.Pending{
                    background: var(--red);
                }
            }
        }
    }

    table {
        td {
            vertical-align: middle;
            padding: 0.95rem;
        }

        .action {
            .icon {
                width: 15px;
                height: 15px;
                display: inline-block;
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }
}