.logo {
    font-weight: $extra-bold;
    color: var(--main);
}

.loader {
    z-index: var(--z-modal);
}

.wrapper {
    position: relative;
    margin: 0;
    padding: 90px 15px 40px 75px;
    font-family: $font-family;
    background-color: var(--background);
    @include transition(.5s);

    @include mq('phone') {
        padding: 100px 15px 70px;
    }

    &.expander {
        padding: 90px 15px 40px 185px;
        @include transition(.5s);
    }
}

.hamburger {
    margin: 20px 20px;
    font-size: $big;
    cursor: pointer;
    z-index: var(--z-fixed);
    position: fixed;
    color: var(--icon-gray);

    @include mq('phone') {
        display: none !important;
    }
}

.align-right {
    float: right;
    z-index: var(--z-before);
    position: relative;
}

.button,
input[type=button],
input[type=submit],
input[type=reset] {
    background-color: var(--main);
    border: none;
    color: var(--white);
    padding: 15px 30px;
    text-align: center;
    font-weight: $bold;
    box-shadow: none;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid var(--main);
    @include transition(all 0.3s ease-in-out);
    cursor: pointer;
    text-decoration: none !important;

    &:hover {
        color: var(--white);
        background-color: var(--main);
        border: 1px solid var(--main);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    }
}

.highlight-text {
    color: var(--main);
}

.score-card {
    border-radius: 5px;
    border: 1px solid var(--border);
    box-shadow: 0 4px 10px rgba(163, 163, 163, 0.2);
    @include transition(0.4s ease);

    &:hover {
        box-shadow: 0 8px 14px rgba(87, 87, 87, 0.2);
    }
}

table {
    thead {
        .th-lg {
            width: 300px;
            min-width: 300px;
        }

        .th-md {
            width: 200px;
            min-width: 200px;
        }

        .th-sm {
            width: 150px;
            min-width: 150px;
        }

        .th-xs {
            width: 90px;
        }
    }
}


input[type=text],
input[type=password],
textarea,
select,
.custom-select,
.custom-file {
    border: none;
    padding: 5px 12px;
    border: 1.5px solid var(--border);
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    background: var(--white);
}

input[type=text]:focus,
textarea:focus,
input:active {
    box-shadow: 0 0 0 2px rgba(var(--rgb), 0.3);
}