#header {
    border-bottom: 3px solid var(--border);
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    z-index: var(--z-fixed);
    background: var(--white);
    padding: 15px 55px;
    font-size: $big;
    font-weight: $semi-bold;

    @include mq('phone') {
        padding: 15px 20px;
    }

    .link {
        text-decoration: none;
        margin: 0 15px;

        @include mq('phone') {
            margin: 0;
        }
    }

    .user-details {
        margin-bottom: -10px;

        .user-image {
            display: inline-block;
            margin-right: 10px;

            .image {
                border-radius: 50%;
                height: 38px;
                width: 38px;
                object-fit: cover;
            }
        }
    }

    .user-info {
        display: inline-block;
        vertical-align: top;
        font-size: $small;

        .user-mail {
            color: var(--text-light);
            font-weight: $regular;
        }
    }
}
